<!DOCTYPE html>
<html>
    <head>
        <title>TAT</title>
        <link rel="icon" type="image/ico" href="/img/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/reset.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <div id="title-container">
            <a href="/">
                <img src="/img/logo.svg" alt="logo">
                <div id="title">TAT</div>
            </a>
        </div>
        {{{ body }}}
    </body>
</html>
