<div class="delete-item-container">
    <form class="input-form delete-item-confirmation" method="post">
        <p>Você está certo que deseja deletar este item?</p>
        <div id="confirmation-buttons">
            <button class="button">Sim</button>
            <a href="/">Não</a>
        </div>
    </form>
</div>
